---
import type { CollectionEntry } from 'astro:content';
import { slugify } from '../utils/slugify';
import { Image } from 'astro:assets';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { title, description, pubDate, tags, image } = post.data;
const formattedDate = new Date(pubDate).toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<article 
  class="group bg-stone-100 dark:bg-stone-800 rounded-xl shadow-sm hover:shadow-lg transition-all duration-300 overflow-hidden border border-stone-200 dark:border-stone-700 hover:border-stone-300 dark:hover:border-stone-600 transform hover:-translate-y-1"
  data-tags={tags?.join(',')}
>
  <a href={`/blog/${slugify(title)}`} class="block h-full flex flex-col">
    {image && (
      <div class="relative w-full h-48 overflow-hidden">
        <Image 
          src={image} 
          alt={title} 
          width={600} 
          height={300} 
          class="object-cover w-full h-full transform group-hover:scale-105 transition-transform duration-300 ease-in-out"
        />
      </div>
    )}
    <div class="p-6 flex-grow flex flex-col">
      <div class="space-y-3 flex-grow">
        <!-- Fecha -->
        <time datetime={pubDate.toISOString()} class="text-xs text-gray-500 dark:text-gray-400 transition-colors duration-200">
          {formattedDate}
        </time>

        <!-- Título -->
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-all duration-300 line-clamp-2">
          {title}
        </h2>

        <!-- Descripción -->
        <p class="text-gray-600 dark:text-gray-300 line-clamp-3 transition-colors duration-200">
          {description}
        </p>

        <!-- Etiquetas (se eliminan las visibles, se mantiene el data-tags) -->
      </div>
      <div class="mt-4 text-right">
        <span class="text-blue-600 dark:text-blue-400 font-semibold group-hover:underline">Leer más &rarr;</span>
      </div>
    </div>
  </a>
</article> 